mat-card{
  padding: 2%;
  margin: auto;
  margin-top: 1%;
  width: 50%;
}

mat-form-field{
  display: block;
}

mat-accordion, mat-expansion-panel{
  width: 50%;
  padding: 2%;
  margin: auto;
}
textarea{
  width: 100%;
  height: 100%;
}
