<div class="grid-container">
  <div class="column">
    <mat-card>
      <mat-card-title>
        <p style="color: white; margin: 0">English Text (Input)</p>
        <span class="title">
          <p *ngIf="maxChars" style="color: white; font-size: 0.9rem; margin:0px 0px 15px 0px">Max. character amount: {{maxChars}}</p>
          <mat-spinner diameter="45" *ngIf="isLoading"></mat-spinner>
        </span>
      </mat-card-title>
      <mat-form-field>
        <textarea matInput rows="4" name="englishText" [(ngModel)]="originalText" required placeholder="English Text"></textarea>
      </mat-form-field>
      <div class="btn-cont">
        <button (click)="onTranslateToDE()" mat-raised-button color="primary" [disabled]="isLoading">Translate to german</button>
      </div>
    </mat-card>

    <mat-card *ngIf="englishText.length > 0">
      <mat-card-title>
        <p style="color: white; margin: 0">English Text (Output)</p>
        <span class="title">
          <p *ngIf="maxChars" style="color: white; font-size: 0.9rem; margin:0px 0px 15px 0px">Max. character amount: {{maxChars}}</p>
        <mat-spinner diameter="40" *ngIf="isLoading"></mat-spinner>
        </span>
      </mat-card-title>
      <mat-form-field>
        <textarea matInput rows="4" name="englishText" [(ngModel)]="englishText" required placeholder="English Text"></textarea>
      </mat-form-field>
      <div class="btn-cont">
        <button (click)="onCheckSimilarity()" mat-raised-button color="primary" [disabled]="isLoading">Calculate Similarity</button>
        <mat-radio-group [(ngModel)]="selectedMode" aria-label="Select an option">
          <mat-radio-button [value]="1">Semantic Mode</mat-radio-button>
          <mat-radio-button [value]="2">Syntactic Mode</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card>

    <mat-card *ngIf="delta >= 0">
      <mat-card-title>
        <span class="title">
          <p style="color: white; margin: 0">Calculated similarity between input and output</p>
        </span>
      </mat-card-title>
      <mat-card-content>
        <p style="color: white">Similarity: {{delta}}</p>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="column">
    <mat-card>
      <mat-card-title>
        <p style="color: white; margin: 0">German Text</p>
        <span class="title">
          <p *ngIf="maxChars" style="color: white; font-size: 0.9rem; margin:0px 0px 15px 0px">Max. character amount: {{maxChars}}</p>
          <mat-spinner diameter="40" *ngIf="isLoading"></mat-spinner>
        </span>
      </mat-card-title>
      <mat-form-field>
        <textarea matInput rows="4" name="englishText" [(ngModel)]="germanText" required placeholder="German Text"></textarea>
      </mat-form-field>
      <div class="btn-cont">
        <button id="gs" (click)="onCorrectText()" mat-raised-button color="primary" [disabled]="isLoading">Grammar and spelling correction</button>
        <span class="spacer"></span>
        <button id="opt" (click)="onParaphraseText()" mat-raised-button color="primary" [disabled]="isLoading">Paraphrasing</button>
      </div>
    </mat-card>

  </div>
  <div class="column">
    <mat-card *ngIf="editedText.length > 0">
      <mat-card-title>
        <p style="color: white; margin: 0">Corrected / Paraphrased Text</p>
        <span class="title">
          <p *ngIf="maxChars" style="color: white; font-size: 0.9rem; margin:0px 0px 15px 0px">Max. character amount: {{maxChars}}</p>
          <mat-spinner diameter="40" *ngIf="isLoading"></mat-spinner>
        </span>
      </mat-card-title>
      <mat-form-field>
        <textarea matInput rows="4" name="englishText" [(ngModel)]="editedText" required placeholder="Englischer Text"></textarea>
      </mat-form-field>
      <div class="btn-cont">
      <button (click)="onTranslateToEN()" mat-raised-button color="primary" [disabled]="isLoading">Translate to english</button>
      </div>
    </mat-card>
  </div>
</div>

